.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 1.5rem;
  flex: 1;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 1.5rem;
}

@media (max-width: 1200px) {
  .layout {
    grid-template-columns: 1fr;
  }
}
